body{
    height: 100vh;
    width: 100vw;
    background-color: #E3EBF5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container{
    margin: auto;
    transition: width 1s;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    align-items: center;
}

h1{
    background: -webkit-linear-gradient(170deg, #38b8b6, #0e1965);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-bottom: 20px;
    margin-top: 10px;
}

#d-difficulty{
    display: flex;
    flex-direction: row;
    height: 60px;
    transition-property: width, height;
    transition-duration: 1s, 1s;
    transition-timing-function: ease-in-out;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#d-logs{
    height: 60px;
    color: rgb(160, 157, 177);
    display: none;
}

.difficulty:checked + .difficulty-label{
    box-shadow: inset 0.3rem 0.3rem 0.6rem #c8d0e7,inset -0.2rem -0.2rem 0.5rem white;
    transition: 0.8s;
    padding-top: 12px;
}

.difficulty-label{
    margin: 10px;
    padding: 10px;
    width: 70px;
    display: block;
    border-radius: 10px;
    color: #9baacf;
    transition: 1s;
    cursor: pointer;
}

.b-start{
    margin-top: 30px;
    padding: 10px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem white;
    border-radius: 10px;
    width: 100%;
    transition: 1s;
    color: #001d68;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.b-start:hover{
    transition: 0.8s;
    font-size: 15px;
    color: #9baacf;
    cursor: pointer;
}

#b-loader{
    margin-top: 30px;
    padding: 10px;
}

#playground{

}

.bigrow{
    display: flex;
    flex-direction: row;
}


.row{
    display: flex;
    flex-direction: row;
}

.field{
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    transition: 1s;
    border-radius: 0;
    border-style: none;
    margin: 5px;
    border-radius: 5px;
    background-color: #dae6f3;
}

.field:disabled{
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    box-shadow: none;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}


.panel{
    padding: 2px;
    margin: -1px;
    border-style: solid;
    border-color: #9baacf;
    background-color: #E3EBF5;
}