@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background:
      linear-gradient(45deg, rgb(235, 2, 2) 0%, hsla(352, 96%, 45%, 0) 70%),
      linear-gradient(135deg, rgb(241, 245, 6) 10%, hsla(253, 95%, 42%, 0) 80%),
      linear-gradient(225deg, rgb(4, 175, 243) 10%, hsla(179, 91%, 45%, 0) 80%),
      linear-gradient(315deg, rgb(7, 42, 238) 100%, hsla(119, 96%, 49%, 0) 70%);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Montserrat';
  }

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#getid{
    width: 22.6rem;
    background-color:rgba(255, 255, 255, 0.322);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

#getid #id{
    width: 95%;
    margin: 0.2rem;
    border-style: none;
    background-color:rgba(255, 255, 255, 0.61);
    border-radius: 0.2rem;
}

#getid .idbutton{
    width: 49%;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 0.5rem;
}

#getid div{
    margin: 0.2rem;
}

#getid p{
    margin: 0;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#sudoku{
    height: 22.6rem;
    width: 22.6rem;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.322);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    backdrop-filter: blur(8px);

}

#sudoku img{
    display: block;
    margin: auto;
    margin-top: 45%;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: gray 2px 2px 2px;
    padding: 0.2rem;
}

th{
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 0.5rem;
    box-shadow: gray 2px 2px 2px;
    height: 2rem;
    width: 2rem;
    margin: 0.2rem;
}

th :first-child{
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    width: 1.8rem;
    height: 100%;
    text-align: center;
}


table{
    margin: 0.3rem;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#generate{
    background-color:rgba(255, 255, 255, 0.322);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 22.6rem;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#generate input{
    background-color: rgba(218, 218, 218, 0.678);
    border-radius: 0.5rem;
    border-style: none;
    width: 30%;
}



