

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    transition: width 1s;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    align-items: center;
}

.icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
  }



#d-difficulty{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    transition-property: width, height;
    transition-duration: 1s, 1s;
    transition-timing-function: ease-in-out;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

#d-logs{
    height: 60px;
    color: rgb(160, 157, 177);
    display: none;
}

.difficulty:checked + .difficulty-label{
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    transition: 0.8s;
    padding-top: 8px;
}

.difficulty-label{
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 100px;
    display: block;
    border-radius: 10px;
    color: #000000;
    transition: 1s;
    cursor: pointer;
}


.link{
    text-decoration: none;
    color: #083094;
}

.b-login{
    margin-top: 30px;
    padding: 10px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    transition: 1s;
    color: #001d68;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    color: #2d3d64d5;
    font-weight: 600;
}

.b-start{
    margin-top: 30px;
    padding: 10px;
    margin: 10px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    transition: 1s;
    color: #001d68;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    color: #2d3d64d5;
    font-weight: 600;
}

.sudokus{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    transition: 1s;
    color: #001d68;
    margin-bottom: 30px;
    color: #2d3d64d5;
    text-align: center;
}



.b-start:hover{
    transition: 0.8s;
    font-size: 15px;
    color: #9baacf;
    cursor: pointer;
}

#b-loader{
    margin-top: 30px;
    padding: 10px;
}

#playground{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#info{
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}

#info p{
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
    border-radius: 5px;
    width: 70px;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.bigrow{
    display: flex;
    flex-direction: row;
}


.row{
    display: flex;
    flex-direction: row;
}

.field.expand{
    height: 30px;
    width: 30px;
}


.field{
    transition: width 1s;
    height: 0px;
    width: 0px;
    text-align: center;
    vertical-align: middle;
    transition: 1s;
    border-radius: 0;
    border-style: none;
    margin: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #3b3b3bcc;
}

.field:disabled{
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    box-shadow: none;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}


.panel{
    padding: 2px;
    margin: -1px;
    border-width: 2px;
    border-style: solid;
    border-color: #737374;
}

.input{
    min-width: 300px;
    transition: width 1s;
    margin-top:25px;
    transition: 1s;
    border-radius: 0;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7fbff00;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
}