<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/print.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <title>Sudoku</title>
</head>
<body>
    <div id="main">
        <div id="info">
            <h2>Sudoku is ready to print!</h2>
            <p>Press CTRL + P to proceed</p>
            <a href="/">Go Back</a>
        </div>
        <div id="sudoku">
            <div class="row">
                <table><tr><th><{{ edit0[0] }}>{{ name[0] }}</{{ edit1[0] }}></th><th><{{ edit0[1] }}>{{ name[1] }}</{{ edit1[1] }}></th><th><{{ edit0[2] }}>{{ name[2] }}</{{ edit1[2] }}></th></tr><tr><th><{{ edit0[9] }}>{{ name[9] }}</{{ edit1[9] }}></th>            <th><{{ edit0[10] }}>{{ name[10] }}</{{ edit1[10] }}></th><th><{{ edit0[11] }}>{{ name[11] }}</{{ edit1[11] }}></th></tr><tr><th><{{ edit0[18] }}>{{ name[18] }}</{{ edit1[18] }}></th><th><{{ edit0[19] }}>{{ name[19] }}</{{ edit1[19] }}></th><th><{{ edit0[20] }}>{{ name[20] }}</{{ edit1[20] }}></th></tr></table>
                <table><tr><th><{{ edit0[3] }}>{{ name[3] }}</{{ edit1[3] }}></th><th><{{ edit0[4] }}>{{ name[4] }}</{{ edit1[4] }}></th><th><{{ edit0[5] }}>{{ name[5] }}</{{ edit1[5] }}></th></tr><tr><th><{{ edit0[12] }}>{{ name[12] }}</{{ edit1[12] }}></th>         <th><{{ edit0[13] }}>{{ name[13] }}</{{ edit1[13] }}></th><th><{{ edit0[14] }}>{{ name[14] }}</{{ edit1[14] }}></th></tr><tr><th><{{ edit0[21] }}>{{ name[21] }}</{{ edit1[21] }}></th><th><{{ edit0[22] }}>{{ name[22] }}</{{ edit1[22] }}></th><th><{{ edit0[23] }}>{{ name[23] }}</{{ edit1[23] }}></th></tr></table>
                <table><tr><th><{{ edit0[6] }}>{{ name[6] }}</{{ edit1[6] }}></th><th><{{ edit0[7] }}>{{ name[7] }}</{{ edit1[7] }}></th><th><{{ edit0[8] }}>{{ name[8] }}</{{ edit1[8] }}></th></tr><tr><th><{{ edit0[15] }}>{{ name[15] }}</{{ edit1[15] }}></th>         <th><{{ edit0[16] }}>{{ name[16] }}</{{ edit1[16] }}></th><th><{{ edit0[17] }}>{{ name[17] }}</{{ edit1[17] }}></th></tr><tr><th><{{ edit0[24] }}>{{ name[24] }}</{{ edit1[24] }}></th><th><{{ edit0[25] }}>{{ name[25] }}</{{ edit1[25] }}></th><th><{{ edit0[26] }}>{{ name[26] }}</{{ edit1[26] }}></th></tr></table>
            </div>
            <div class="row">
                <table><tr><th><{{ edit0[27] }}>{{ name[27] }}</{{ edit1[27] }}></th><th><{{ edit0[28] }}>{{ name[28] }}</{{ edit1[28] }}></th><th><{{ edit0[29] }}>{{ name[29] }}</{{ edit1[29] }}></th></tr><tr><th><{{ edit0[36] }}>{{ name[36] }}</{{ edit1[36] }}></th><th><{{ edit0[37] }}>{{ name[37] }}</{{ edit1[37] }}></th><th><{{ edit0[38] }}>{{ name[38] }}</{{ edit1[38] }}></th></tr><tr><th><{{ edit0[45] }}>{{ name[45] }}</{{ edit1[45] }}></th><th><{{ edit0[46] }}>{{ name[46] }}</{{ edit1[46] }}></th><th><{{ edit0[47] }}>{{ name[47] }}</{{ edit1[47] }}></th></tr></table>
                <table><tr><th><{{ edit0[30] }}>{{ name[30] }}</{{ edit1[30] }}></th><th><{{ edit0[31] }}>{{ name[31] }}</{{ edit1[31] }}></th><th><{{ edit0[32] }}>{{ name[32] }}</{{ edit1[32] }}></th></tr><tr><th><{{ edit0[39] }}>{{ name[39] }}</{{ edit1[39] }}></th><th><{{ edit0[40] }}>{{ name[40] }}</{{ edit1[40] }}></th><th><{{ edit0[41] }}>{{ name[41] }}</{{ edit1[41] }}></th></tr><tr><th><{{ edit0[48] }}>{{ name[48] }}</{{ edit1[48] }}></th><th><{{ edit0[49] }}>{{ name[49] }}</{{ edit1[49] }}></th><th><{{ edit0[50] }}>{{ name[50] }}</{{ edit1[50] }}></th></tr></table>
                <table><tr><th><{{ edit0[33] }}>{{ name[33] }}</{{ edit1[33] }}></th><th><{{ edit0[34] }}>{{ name[34] }}</{{ edit1[34] }}></th><th><{{ edit0[35] }}>{{ name[35] }}</{{ edit1[35] }}></th></tr><tr><th><{{ edit0[42] }}>{{ name[42] }}</{{ edit1[42] }}></th><th><{{ edit0[43] }}>{{ name[43] }}</{{ edit1[43] }}></th><th><{{ edit0[44] }}>{{ name[44] }}</{{ edit1[44] }}></th></tr><tr><th><{{ edit0[51] }}>{{ name[51] }}</{{ edit1[51] }}></th><th><{{ edit0[52] }}>{{ name[52] }}</{{ edit1[52] }}></th><th><{{ edit0[53] }}>{{ name[53] }}</{{ edit1[53] }}></th></tr></table>
            </div>
            <div class="row">
                <table><tr><th><{{ edit0[54] }}>{{ name[54] }}</{{ edit1[54] }}></th><th><{{ edit0[55] }}>{{ name[55] }}</{{ edit1[55] }}></th><th><{{ edit0[56] }}>{{ name[56] }}</{{ edit1[56] }}></th></tr><tr><th><{{ edit0[63] }}>{{ name[63] }}</{{ edit1[63] }}></th><th><{{ edit0[64] }}>{{ name[64] }}</{{ edit1[64] }}></th><th><{{ edit0[65] }}>{{ name[65] }}</{{ edit1[65] }}></th></tr><tr><th><{{ edit0[72] }}>{{ name[72] }}</{{ edit1[72] }}></th><th><{{ edit0[73] }}>{{ name[73] }}</{{ edit1[73] }}></th><th><{{ edit0[74] }}>{{ name[74] }}</{{ edit1[74] }}></th></tr></table>
                <table><tr><th><{{ edit0[57] }}>{{ name[57] }}</{{ edit1[57] }}></th><th><{{ edit0[58] }}>{{ name[58] }}</{{ edit1[58] }}></th><th><{{ edit0[59] }}>{{ name[59] }}</{{ edit1[59] }}></th></tr><tr><th><{{ edit0[66] }}>{{ name[66] }}</{{ edit1[66] }}></th><th><{{ edit0[67] }}>{{ name[67] }}</{{ edit1[67] }}></th><th><{{ edit0[68] }}>{{ name[68] }}</{{ edit1[68] }}></th></tr><tr><th><{{ edit0[75] }}>{{ name[75] }}</{{ edit1[75] }}></th><th><{{ edit0[76] }}>{{ name[76] }}</{{ edit1[76] }}></th><th><{{ edit0[77] }}>{{ name[77] }}</{{ edit1[77] }}></th></tr></table>
                <table><tr><th><{{ edit0[60] }}>{{ name[60] }}</{{ edit1[60] }}></th><th><{{ edit0[61] }}>{{ name[61] }}</{{ edit1[61] }}></th><th><{{ edit0[62] }}>{{ name[62] }}</{{ edit1[62] }}></th></tr><tr><th><{{ edit0[69] }}>{{ name[69] }}</{{ edit1[69] }}></th><th><{{ edit0[70] }}>{{ name[70] }}</{{ edit1[70] }}></th><th><{{ edit0[71] }}>{{ name[71] }}</{{ edit1[71] }}></th></tr><tr><th><{{ edit0[78] }}>{{ name[78] }}</{{ edit1[78] }}></th><th><{{ edit0[79] }}>{{ name[79] }}</{{ edit1[79] }}></th><th><{{ edit0[80] }}>{{ name[80] }}</{{ edit1[80] }}></th></tr></table>
            </div>
        </div>

            
        
    </div>

</body>
</html>