<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Sudoku</title>
</head>
<body>
    <form class="container">
        <h1>SUDOKU</h1>
        <div class="d-difficulty">
            <input type="radio" class="difficulty" name="difficulty" value="0" id="d-0" hidden><label class="difficulty-label" for="d-0">Easy</label>
            <input type="radio" class="difficulty" name="difficulty" value="1" id="d-1" hidden><label class="difficulty-label" for="d-1">Medium</label>
            <input type="radio" class="difficulty" name="difficulty" value="2" id="d-2" hidden><label class="difficulty-label" for="d-2">Hard</label>
            <input type="radio" class="difficulty" name="difficulty" value="3" id="d-3" hidden><label class="difficulty-label" for="d-3">Godmode</label>
        </div>
    </form>
</body>
</html>