<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Sudoku</title>
</head>

<body>
    <div class="container">
        <h1>SUDOKU</h1>
        <div id="d-difficulty">
            <input type="radio" class="difficulty" name="difficulty" value="0" id="d-0" hidden><label
                class="difficulty-label" for="d-0">Easy</label>
            <input type="radio" class="difficulty" name="difficulty" value="1" id="d-1" hidden><label
                class="difficulty-label" for="d-1">Medium</label>
            <input type="radio" class="difficulty" name="difficulty" value="2" id="d-2" hidden><label
                class="difficulty-label" for="d-2">Hard</label>
            <input type="radio" class="difficulty" name="difficulty" value="3" id="d-3" hidden><label
                class="difficulty-label" for="d-3">Godmode</label>
        </div>
        <button type="button" id="b-start" class="b-start">Start!</button>
        <div id="b-loader" class="buttonloader" title="7" hidden>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="20px"
                viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <rect x="0" y="10" width="4" height="10" fill="#777" opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                        repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                        repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s"
                        repeatCount="indefinite" />
                </rect>
                <rect x="8" y="10" width="4" height="10" fill="#777" opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                        repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                        repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                        repeatCount="indefinite" />
                </rect>
                <rect x="16" y="10" width="4" height="10" fill="#777" opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                        repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                        repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
                        repeatCount="indefinite" />
                </rect>
            </svg>
        </div>
        <div id="playground" hidden>
            <div>
                <p>Correct: ≈<span id="correct">0</span></p>
            </div>
            <div class="bigrow">
                <div class="panel">
                    <div class="row">
                        <input class="field" id="0">
                        <input class="field" id="1">
                        <input class="field" id="2">
                    </div>
                    <div class="row">
                        <input class="field" id="9">
                        <input class="field" id="10">
                        <input class="field" id="11">
                    </div>
                    <div class="row">
                        <input class="field" id="18">
                        <input class="field" id="19">
                        <input class="field" id="20">
                    </div>
                </div>
                <div class="panel">
                    <div class="row">
                        <input class="field" id="3">
                        <input class="field" id="4">
                        <input class="field" id="5">
                    </div>
                    <div class="row">
                        <input class="field" id="12">
                        <input class="field" id="13">
                        <input class="field" id="14">
                    </div>
                    <div class="row">
                        <input class="field" id="21">
                        <input class="field" id="22">
                        <input class="field" id="23">
                    </div>
                </div>
                <div class="panel">
                    <div class="row">
                        <input class="field" id="6">
                        <input class="field" id="7">
                        <input class="field" id="8">
                    </div>
                    <div class="row">
                        <input class="field" id="15">
                        <input class="field" id="16">
                        <input class="field" id="17">
                    </div>
                    <div class="row">
                        <input class="field" id="24">
                        <input class="field" id="25">
                        <input class="field" id="26">
                    </div>
                </div>
            </div>
            <div class="bigrow">
                <div class="panel">
                    <div class="row">
                        <input class="field" id="27">
                        <input class="field" id="28">
                        <input class="field" id="29">
                    </div>
                    <div class="row">
                        <input class="field" id="36">
                        <input class="field" id="37">
                        <input class="field" id="38">
                    </div>
                    <div class="row">
                        <input class="field" id="45">
                        <input class="field" id="46">
                        <input class="field" id="47">
                    </div>
                </div>
                <div class="panel">
                    <div class="row">
                        <input class="field" id="30">
                        <input class="field" id="31">
                        <input class="field" id="32">
                    </div>
                    <div class="row">
                        <input class="field" id="39">
                        <input class="field" id="40">
                        <input class="field" id="41">
                    </div>
                    <div class="row">
                        <input class="field" id="48">
                        <input class="field" id="49">
                        <input class="field" id="50">
                    </div>
                </div>
                <div class="panel">
                    <div class="row">
                        <input class="field" id="33">
                        <input class="field" id="34">
                        <input class="field" id="35">
                    </div>
                    <div class="row">
                        <input class="field" id="42">
                        <input class="field" id="43">
                        <input class="field" id="44">
                    </div>
                    <div class="row">
                        <input class="field" id="51">
                        <input class="field" id="52">
                        <input class="field" id="53">
                    </div>
                </div>
            </div>
            <div class="bigrow">
                <div class="panel">
                    <div class="row">
                        <input class="field" id="54">
                        <input class="field" id="55">
                        <input class="field" id="56">
                    </div>
                    <div class="row">
                        <input class="field" id="63">
                        <input class="field" id="64">
                        <input class="field" id="65">
                    </div>
                    <div class="row">
                        <input class="field" id="72">
                        <input class="field" id="73">
                        <input class="field" id="74">
                    </div>
                </div>
                <div class="panel">
                    <div class="row">
                        <input class="field" id="57">
                        <input class="field" id="58">
                        <input class="field" id="59">
                    </div>
                    <div class="row">
                        <input class="field" id="66">
                        <input class="field" id="67">
                        <input class="field" id="68">
                    </div>
                    <div class="row">
                        <input class="field" id="75">
                        <input class="field" id="76">
                        <input class="field" id="77">
                    </div>
                </div>
                <div class="panel">
                    <div class="row">
                        <input class="field" id="60">
                        <input class="field" id="61">
                        <input class="field" id="62">
                    </div>
                    <div class="row">
                        <input class="field" id="69">
                        <input class="field" id="70">
                        <input class="field" id="71">
                    </div>
                    <div class="row">
                        <input class="field" id="78">
                        <input class="field" id="79">
                        <input class="field" id="80">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/index.js"></script>

</html>